target/
!.mvn/wrapper/maven-wrapper.jar
*.tfstate
.terraform/
.vagrant/
soapui.log
soapui-errors.log
global-groovy.log
.DS_Store
*.war

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
